/* Основные стили */
body {
    background-color: #4e91ae;
}


/* Стили текста */

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 35px;
}

li {
    font-size: 25px;
}

label {
    font-size: 20px;
}


/* Стили контента */

.content {
    background-color: white;
    margin: 0px auto;
    width: 700px;
    padding: 40px;
    border: 3px solid gray;
    border-radius: 20px;
}



/* Стили изображений */

.image_event img {
    width: 700px;
    border-radius: 20px;
}


/* Стили форм */

.text_input input {
    width: 620px;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 15px;
}

.button input {
    background-color: rgb(92, 92, 255);
    color: white;
    border: 2px solid gray;
    border-radius: 15px;
    width: 240px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
}